.post__status
    padding: 5px 10px
    width: 100%
    // max-height: 50px
    // min-height: 25px
    height: auto
    border-radius: 5px
    cursor: pointer
    font-size: 20px
    border: none
    resize: none
    overflow: hidden
    
    &:hover
        background: $main-color

    &:focus
        text-decoration: underline
    