body 
    background: url(/src/images/background/light.png)
    font-family: Gilroy, 'Times New Roman', Times, serif

.wrapper 
    margin: 0 auto
    padding: 0 25px;
    max-width: 1000px
    background: $white-color

.subtitle
    margin: 0 0 25px
    font-size: 25px
    text-align: center 

.user
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    width: 50%
    border-right: 1px solid $main-color

.post
    padding: 10px 20px
    width: 50%
    max-height: 1200px
    overflow: auto

.section
    position: relative
    width: 80%
    margin: 10px
    padding: 15px 0
    border-top: 1px solid $main-color
    border-bottom: 1px solid $main-color
    overflow: hidden 

.visible 
    display: block

.close    
    position: absolute
    display: block
    top: 0
    right: 0
    width: 30px
    height: 30px
    cursor: pointer

    &::before
        content: ''
        position: absolute
        top: 15px
        right: 0
        display: block
        width: 30px
        height: 2px
        border: none
        background: $second-color
        transform: rotate(45deg)
        transition: 0.2s linear
   

    &::after
        content: ''
        position: absolute
        top: 15px
        right: 0
        display: block
        width: 30px
        height: 2px
        border: none
        background: $second-color
        transform: rotate(-45deg)
        transition: 0.2s linear

    &:hover::before
        transform: rotate(135deg)

    &:hover::after
        transform: rotate(45deg);   
                
            

::-webkit-scrollbar 
    width: 10px