body 
    background: url(/src/images/background/dark.png)
    font-family: Gilroy, 'Times New Roman', Times, serif

.wrapper 
    margin: 0 auto
    padding: 0 25px;
    max-width: 1000px
    min-height: 1000px
    background: #fff

::-webkit-scrollbar 
    width: 0