body 
    background: url(/src/images/background/light.png)
    font-family: Gilroy, 'Times New Roman', Times, serif

.wrapper 
    margin: 0 auto
    padding: 0 25px;
    max-width: 1000px
    background: $white-color
    transition: 0.2s linear

.subtitle
    margin: 0 0 25px
    font-size: 25px
    text-align: center 

.user
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    width: 50%
    border-right: 1px solid $main-color

.section
    position: relative
    width: 90%
    padding: 30px 10px
    border-top: 1px solid $main-color
    overflow: hidden

    &:nth-child(1)
        border-top: none
        padding: 100px

.footer
    padding: 50px 30px
    border-top: 1px solid $main-color
    text-align: center     

.visible 
    display: block

.close    
    position: absolute
    display: block
    top: 0
    right: 0
    width: 30px
    height: 30px
    cursor: pointer

    &::before
        content: ''
        position: absolute
        top: 15px
        right: 0
        display: block
        width: 30px
        height: 2px
        border: none
        background: $second-color
        transform: rotate(45deg)
        transition: 0.2s linear
   

    &::after
        content: ''
        position: absolute
        top: 15px
        right: 0
        display: block
        width: 30px
        height: 2px
        border: none
        background: $second-color
        transform: rotate(-45deg)
        transition: 0.2s linear

    &:hover::before
        transform: rotate(135deg)

    &:hover::after
        transform: rotate(45deg)
                
            

::-webkit-scrollbar 
    width: 10px

.light
    background: $white-color
    color: $second-color

.silver
    background: $background-silver
    color: $second-color   

.dark
    background: $background-dark
    color: $white-color

.gray
    background: $background-gray
    color: $white-color

.white
    color: $white-color

.black
    color: $second-color   

.light-background
    background: url(/src/images/background/light.png)

.dark-background
      background: url(/src/images/background/dark.png)        