.user__edit
    position: absolute
    top: 450px
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 85%
    height: 177px
    background: $white-color
    z-index: 5

    &-field
        padding: 0 10px
        font-size: 25px
        border: none
        border-bottom: 2px solid $main-color
        font-family: Gilroy

        &:nth-last-child(1)
            border-bottom: none

    &-buttons
        display: flex
        justify-content: space-between
        width: 100%
        margin: 0 auto   
        transform: translateY(8px)
            
