.user__edit
    position: absolute
    top: 475px
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 91%
    min-height: 117px
    background: $white-color
    transition: 0.2s linear
    z-index: 5

    &-field
        padding: 0 10px
        font-size: 25px
        border: none
        border-bottom: 2px solid $main-color
        font-family: Gilroy
        transition: 0.2s linear

        &:nth-last-child(1)
            border-bottom: none

    &-buttons
        display: flex
        justify-content: space-between
        width: 100%
        margin: 0 auto