.projects
    width: 85%

    &__sublist
        display: flex
        flex-direction: column
        align-items: center

    &__list
        display: flex
        justify-content: space-between

        &-title
            font-size: 23px
            margin: 0 0 15px 0
            border: 1px solid
            padding: 5px
            border-radius: 8px
            background: #ca1e1e
            color: $white-color
            transition: 0.3s linear
            cursor: default

            &:hover
                color: $second-color
                background: $white-color

    &__item       
        font-size: 18px
        margin: 0 0 10px 0
        
        &-link
            color: $second-color

            &:hover
                text-decoration: underline
                color: $links-color